footer{
	padding-bottom: 30px;
}
.post-preview .post-meta{
	font-size: 14px;
	margin-top: 8px;
}
.post-preview > .post-meta {
	font-family: Tahoma,Verdana, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    color: #666;
    font-style: normal;
}

.pager li>a{
	-webkit-transition: all .3s;
	transition: all .3s;
}

/* duoshuo*/
#ds-reset .ds-avatar img{
    width:54px;height:54px;
    border-radius: 27px !important;
    -webkit-border-radius: 27px !important;
    -moz-border-radius:27px !important;
    box-shadow: 0;
    -webkit-box-shadow:0;
    -moz-box-shadow:0;
    -webkit-transition: 0.3s;   
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
}

#ds-reset .ds-avatar img:hover {
    transform: rotate(30deg) scale(1.1);
    -webkit-transform: rotate(30deg) scale(1.1);
    -moz-transform: rotate(30deg) scale(1.1);
    box-shadow: 0;
    -webkit-box-shadow:0;
    -moz-box-shadow:0;
}

#ds-thread #ds-reset .ds-comments-info {
    padding:0 !important;

}
#ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active {
    color: #93c22e !important;
}
#ds-reset .ds-highlight {
    color: #93c22e !important;
}
.comment #ds-thread #ds-reset a.ds-like-thread-button {
    width:48px;height:48px;
    border-radius: 24px !important;
    border: 1px solid #93c22e !important;
    background: #fff;
    box-shadow: 0;
    text-shadow: 0;
}
.ds-share-icons-16,.ds-thread-count,.ds-sync,.ds-comments-tabs {
display: none !important;
}
.ds-login-buttons {
display:none !important;
}
.ds-comments {
margin-bottom: 25px !important;
}
/* duoshuo*/

@media only screen and (min-width: 768px){
.post-content-preview {
    font-size: 12px;
}
.post-preview>a>.post-title {
    font-size: 21px;
    line-height: 1.3;
    margin-bottom: 10px;
}
}
.post-content-preview {
    font-style: normal;
}

.weixin-icon span div{display:none; }
.weixin-icon div img{width:98%;height:auto;}
.weixin-icon: hover div{display: all;}