footer{
	padding-bottom: 30px;
}
.post-preview .post-meta{
	font-size: 14px;
	margin-top: 8px;
}
.post-preview > .post-meta {
	font-family: Tahoma,Verdana, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    color: #666;
    font-style: normal;
}

.pager li>a{
	-webkit-transition: all .5s;
	transition: all .5s;
	background-size: 0% 100%;
	background: linear-gradient(to right, #abcd00, #abcd00) no-repeat;
	background: -webkit-linear-gradient(left, #abcd00, #abcd00) no-repeat;

}
.pager li >a:hover{
	color: #fff;
	background-size: 100% 100%;
}

