footer{
	padding-bottom: 30px;
}
.post-preview .post-meta{
	font-size: 14px;
	margin-top: 8px;
}
.post-preview > .post-meta {
	font-family: Tahoma,Verdana, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    color: #666;
    font-style: normal;
}

.pager li>a{
	-webkit-transition: all .3s;
	transition: all .3s;
}

/* duoshuo avator*/
#ds-reset .ds-avatar img{
    width:54px;height:54px; /*设置图像的长和宽*/
    border-radius: 27px;/*设置图像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形了*/
    -webkit-border-radius: 27px;/*圆角效果：兼容webkit浏览器*/
    -moz-border-radius:27px;
    -webkit-transition: 0.4s;   
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;/*变化时间设置为0.4秒(变化动作即为下面的图像旋转360读）*/
        -moz-transition: -moz-transform 0.4s ease-out;
}

#ds-reset .ds-avatar img:hover{/*设置鼠标悬浮在头像时的CSS样式*/
    transform: rotate(30deg) scale(1.2);/*图像旋转360度*/
    -webkit-transform: rotate(30deg) scale(1.2);
        -moz-transform: rotate(30deg) scale(1.2);
}
/* duoshuo avator*/